.header{
  padding-bottom: 20px;
  background-color:rgb(246, 195, 68);
}


a{
  font-weight: 500;
  margin-left: 20px;
  border-radius: 5px;
  width: 3cm;
  text-align: center;
}

/* a:hover{
  background-color:rgb(251, 255, 176);
} */


