
    .carousel-wrapper {
      overflow: hidden;

    }
    .carousel {
      list-style:none;
      margin: 3% 0% 0% 20%;
      padding: 0;
      width: 900px;
    }
    .carousel-inner {
      display: flex;
    }

    .map-container-4{
      overflow:hidden;
      padding-bottom:56.25%;
      position:relative;
      height: 10px;;
    }
    .map-container-4 iframe{
      left: 50px;
      top: 40px;;
      height:90%;
      width:90%;
      position:absolute;
    }

.card-container{
  margin-top: 50px;
}

.row-container{
  margin-left: 10%;
}
